@{
    ViewData["Title"] = "ForgetPassword";
}

@model ForgetPasswordViewModel
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row justify-content-center">
    <div class="card border-secondary mb-5 justify-content-center col-5">
        
        <div class="card-body border-secondary">
            <div class="alert alert-secondary"><h5>Yeni Şifre Belirle</h5></div>
            @if (TempData["SuccededMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <small class="text-sm-start">@TempData["SuccededMessage"]</small>
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="alert-danger" role="alert"></div>

            <form method="post">

                <div class="mb-3">
                    <label class="form-label" asp-for="Email"></label>
                    <input type="email" class="form-control border-secondary" asp-for="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>

                <button type="submit" class="btn btn-primary">Gönder</button>

            </form>
        </div>
    </div>

</div>

