@{
    ViewData["Title"] = "Password change";
}

@model PasswordChangeViewModel

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row justify-content-center">
    <div class="card border-secondary mb-6 justify-content-center col-5">
        <div class="card-header bg-white border-secondary"><h4>Şifre Değiştir</h4></div>
        <div class="card-body border-secondary">
            @if (TempData["SuccededMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccededMessage"]
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="alert-danger" role="alert"></div>

            <form method="post" asp-controller="Member" asp-action="PasswordChange">

                <div class="mb-3">
                    <label class="form-label" asp-for="PasswordOld"></label>
                    <input class="form-control border-secondary" asp-for="PasswordOld">
                    <span class="text-danger" asp-validation-for="PasswordOld"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="PasswordNew"></label>
                    <input class="form-control border-secondary" asp-for="PasswordNew">
                    <span class="text-danger" asp-validation-for="PasswordNew"></span>
                </div> 
                <div class="mb-3">
                    <label class="form-label" asp-for="PasswordNewConfirm"></label>
                    <input class="form-control border-secondary" asp-for="PasswordNewConfirm">
                    <span class="text-danger" asp-validation-for="PasswordNewConfirm"></span>
                </div>

                <div class="mb-3 form-check">
                    <button type="submit" class="btn btn-primary">Şifre Değiştir</button>
                </div>
            </form>
        </div>
    </div>

</div>



